/* src/assets/styles/Sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  justify-content: flex-start;
  border-right: 7px solid #732E99; /* Purple outline */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.logo img {
  width: 100%; /* Adjust width dynamically */
  max-width: 150px; /* Prevent it from being too large */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra spacing */
  margin: 0 auto; /* Center inside sidebar */
  padding: 10px 0; /* Add some vertical spacing */
}


.navList {
  list-style: none;
  padding: 0;
  width: 100%;
  flex-grow: 1;
}

.navList li {
  margin: 10px 0;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #2c3e50;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navLink:hover, .navLink.active {
  background-color: #732E99;
}

.logoutButton {
  padding: 10px 15px;
  background-color: #ff5f5f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: auto;
}

.logoutButton:hover {
  background-color: #e14c4c;
}
